<%=	simple_form_for @recipe, html: {multipart: true} do |f| %>
<%	 if @recipe.errors.any? %>
        <h2><%= pluralize(@recipe.errors.count, "error") %> prevented this recipe from saving:</h2>
        <ul>
          <% @recipe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <br>
	<br>

    <%=f.input :title, input_html: {class: 'form-control'} %>
    <%=f.input :description, input_html: {class: 'form-control'} %>

    <%=f.input :image, input_html: {class: 'form-control'} %>

    <br>
    <br>

    <%=f.button :submit, class: 'btn btn-primaty' %>

<% end %>

